<%- include('partials/header') %>

    <div id="main-body">
    <form id="register" class="row g-3" action="/register" method="POST">
        <div class="col-md-12">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="col-md-12">
          <label for="nickname" class="form-label">Nickname</label>
          <input type="text" class="form-control" name="nickname" id="nickname" required>
        </div>
        <div class="col-md-12">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div class="col-md-12">
          <label for="email" class="form-label">Email Adress</label>
          <input type="email" class="form-control" name="email" id="email" required>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" onclick="showPassword()">
            <label class="form-check-label" for="gridCheck">
              Show Password
            </label>
            <script>
                function showPassword() {
                    var x = document.getElementById("password");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-dark">Sign Up</button>
        </div>
    </form>
    </div>
    
    <%- include('partials/footer') %>